.contacts {
  padding: 10px;

  &__header {
    margin-bottom: 10px;
  }

  &__body {
    .actions-block {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
